/*applys box sizing, padding, and margin size to each container*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*defines the background color of the section defined as body*/
body {
  background-color: #d9dcd6;
}
/*a class that dictates the padding font family, background and text color of everything inside the section where the class is defined*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*all h1 elements in the header class will display inline block and have a font size of 48px*/
.header h1 {
  display: inline-block;
  font-size: 48px;
}
/*all h1 elements in the header class that also reside in the seo class will have the defined text color*/
.header h1 .seo {
  color: #d9dcd6;
}
/*all nav elements in the header class will have a top padding of 15px a right margin of 20px have a float placing them on the right side of their container and utilize the specified font supported by the browser with a size of 20px*/
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*all un listed elements inside a nav section defined by the header class will have no list style type*/
.header nav ul {
  list-style-type: none;
}
/* all list elements inside an unlisted list within a nav section defined by the header class will diplay inline block and have a left margin of 25px*/
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*all hyperlinked elements will have a text color defined below and no text decoration*/
a {
  color: #ffffff;
  text-decoration: none;
}
/*all elements with the class hero will have a bckground image sourced from the url provided with a defined height, width and centered on the page encompassing the whole container*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/*Content styles*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* Updated the class content to focus on h2 defining the box width and display inline to configure their positioning after updating the width of the box size*/
.content article h2 {
  width: 500px;
  display: inline-block;
}
/* Updated the class content to focus on p defining the width to meet the correct size displayed in the image and  */
.content article p {
  width: 440px;
  display: inline-block;
}
/*Main Styles*/
.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* Main Image styles*/
.search-engine-optimization img {
  max-height: 200px;
}
.online-reputation-management img {
  max-height: 200px;
}
.social-media-marketing img {
  max-height: 200px;
}
/* Main Heading level 2 styles*/
.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*all paragraph elements have a 16px font size*/
p {
  font-size: 16px;
}
/*Float Styles */
.float-left {
  float: left;
  margin-right: 25px;
}
.float-right {
  float: right;
  margin-left: 25px;
}
/*Aside Styles*/
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}
.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}
/* Aside Header 3 styles*/
.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}
.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}
/*Aside image styles*/
.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* Footer styles */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  /* Added display: none to the style in the footer as it is not being displayed on the example provided */
  display: none;
}
.footer h3 {
  font-size: 20px;
}
